html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  padding-bottom: 100px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: forestgreen;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

nav {
  display: grid;
  justify-content: flex-end;
  min-height: 70px;
  padding-top: 30px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.nav-item {
  color: forestgreen;
  font-weight: bold;
}

.nav-item:hover {
  color: rgb(182, 6, 6);
  font-size: larger;

}

.imghead{
  width: 40%;
}

.logo {
  width: 100%;
  padding-right: 10px;
  
}

.entrada-blog img {
  border-radius: 10%;
}

.entrada-blog{
  position: relative;
}

.entrada-blog p{
padding-bottom: 25px;

}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.boton {
  display: inline-block;
  background-color: #1d8a1f;
  color: white;
  width: 100%;
  padding: 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute; 
  bottom: 0;
  border-radius: 5px 25px;
  

  
}

.listado {
  text-decoration: none;
  color: forestgreen;
  font-weight: bold;
}

/*secciones*/
@media (min-width: 992px) {
  .entrada-blog2 h1 {
    font-size: 3.5rem;
    text-align: left;
  }
}

h2 {
  font-size: 2.5rem;
}

.contenedor2 .entrada-blog {
  text-align: center;
}

p {
  font-size: 2rem;
}

.contenedor2 {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.entrada-blog2 a {
  display: inline-block;
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
/* fin secciones*/

/*Silvia css form*/
form {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  color: #1d8a1f;
  border: solid black;
}

form label {
  width: 100%;
  font-weight: bold;
  display: inline;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
  width: 100%;
  padding: 3px 10px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline;
}
form input[type="number"] {
  width: 12%;
  padding: 3px 10px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline;
}
form input[type="radio"] {
  width: 10%;
  padding: 3px 10px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline;
  text-align: center;
}
form input[type="date"] {
  width: 20%;
  padding: 3px 10px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline;
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #1d8a1f;
}

form input[type="submit"]:hover {
  cursor: pointer;
}
form input[type="reset"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #1d8a1f;
}

form input[type="reset"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
}

/*medias queries*/

@media (min-width: 480px) {
  .tres-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 .entrada-blog {
    flex-basis: calc(33.3% - 1rem);
    padding-bottom: 20px;

    /*calc() hace un cálculo matemático*/
    /*Ocupa el 33% del contenedor - 1 rem para dar espacio entre columnas*/
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }
}

footer {
  display: grid;
  flex-direction: row;
  grid-template-columns: 20% 30% 20%;
  grid-template-rows: 3fr;
  justify-content: end;
  align-content: center;
  background-color: rgb(244, 238, 238);
  padding: 20px;
}

.eco-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  position:relative;

}
.eco-section img{
  border-radius: 10%;
}

.eco-section article{
  text-align: justify;
}

.eco-section button{
  position: absolute; 
  bottom: 0;
  border-radius: 10%;
  background-color: #1d8a1f;
  border-style: none;
  padding: 15px;
  color: #fff;
  width: 20%;
  border-radius: 5px 25px;
}

.eco-section p{
  padding-bottom: 30px;
}

.secciones{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  text-align: justify;
  padding-top: 10%;
}

.secciones > h1{
  font-size: 3rem;
}

.secciones img{
  width: 100%;
}



.video{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding-top: 5%;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  overflow: hidden;
  padding-top: 20px;
}

.video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}


